/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* 
@font-face {
  font-family: "Nokia-Bold";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/NokiaBOLD.TTF") format("ttf");
}

@font-face {
  font-family: "Nokia-Light";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../public/fonts/NOKIAPUREHEADLINE_ULTRALIGHT.OTF") format("otf");
}

@font-face {
  font-family: "Droid";
  font-display: swap;
  font-style: normal;
  src: url(../public/fonts/DROIDSANSETHIOPIC-REGULAR.TTF) format("ttf");
}

@font-face {
  font-family: "Yanon";
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/YANONEKAFFEESATZ-REGULAR.TTF") format("ttf");
}

@font-face {
  font-family: "Klavika";
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/KLAVIKAREGULAR-OSF.TTF") format("ttf");
} */

body {
  @apply m-0 p-0 bg-gray-100 dark:bg-gray-900 dark:text-white;
  @apply font-sans;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='), auto;
}

html, body, div#__next {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nokia-Bold', sans-serif;
  margin: 0;
  padding: 0;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.react-pdf__Page__textContent {
  @apply dark:bg-black dark:text-white;
}

.embla {
  /* max-width: 48rem; */
  margin: auto;
  width: 100%;
  overflow: hidden;
  --slide-height: 19rem;  
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
  width: 100%;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  width: 100vw;
  /* padding-left: var(--slide-spacing); */
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  /* height: var(--slide-height); */
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 5.6rem;
  height: 5.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
/* .embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
} */
.embla__parallax {
  /* border-radius: 1.8rem; */
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}
