/* body {
  margin: 0;
  background-color: #525659;
  font-family:
    Segoe UI,
    Tahoma,
    sans-serif;
} */

.Example input,
.Example button {
  font: inherit;
}

canvas{
  border-radius: 1.5rem !important;
}

.Example header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  /* padding: 20px; */
  color: white;
}

.Example header h1 {
  font-size: inherit;
  margin: 0;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 10px 0; */
  /* padding: 10px; */
}

.Example__container__load {
  margin-top: 1em;
  color: white;
}

.Example__container__document {
  width: 100%;
  /* max-width: calc(100% - 2em); */
  /* margin: 1em 0; */
}

.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Example__container__document .react-pdf__Page {
  /* margin: 1em 0; */
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  /* background-color: red !important; */
  border-radius: 100px;

  /* background-color: red;
  color: aqua; */
}

.react-pdf__Page canvas {
  /* margin: 1em 0; */
  width: 95%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem !important;

  /* background-color: red;
  color: aqua; */
}

.Example__container__document .react-pdf__Page__textContent .textLayer {
  /* background-color: red; */
  border-radius: 100px;
  width: 100%;

  /* background-color: red; */
  /* color: aqua; */
  /* z-index: 5;
  position: absolute; */
}

.Example__container__document .react-pdf__message {
  /* padding: 20px; */
  color: white;
  /* background-color: red; */
  color: aqua;
  border-radius: 100px;
  width: 100%;
}

.mukera {
  color: brown !important;
  background-color: burlywood !important;
}
